<% Question.all.each do |question|%>
		<h1><a href="/questions/<%=question.id%>/single"><%=question.text%></a></h1> by <a href="/users/<%=question.user.id%>"><%=question.user.username%></a><br>
	<%end%>	