<center>
<h1>WEBNAME</h1>
<% if @user.errors.any? %>
	<% @user.errors.full_message.each do |message|%>
		<%= message%><br>
	<%end%>	
<% end %><br>

<%= @error = @error %><br>

Login
<form class="login" action="/users/login" method="POST">
	<label>Username: </label>
	<input type="text" name="username"><br>
	<label>Password: </label>
	<input type="password" name="password"><br>
	<input type="submit" value="Login">
</form>
Sign Up
<form class="signup" action="/users/new" method="POST">
	<label>Full name: </label>
	<input type="text" name="full_name"><br>
	<label>Email: </label>
	<input id="email" type="email" name="email"><br>
	<div id="hint"></div>
	<label>Username: </label>
	<input type="text" name="username"><br>
	<label>Password: </label>
	<input type="password" name="password"><br>
	<label>Confirm Password: </label>
	<input type="password" name="password_confirmation"><br>
	<input type="submit" value="Sign Up">
</form>

</center>